body {
    display: grid;
    grid-template-areas:
      "header header header"
      " main main aside"
      "footer footer footer";
        background-color: #E5E5E5;
      margin: 0px;
    }

    #logo{
        margin-right:-4px;
        width: 60px;
        margin-bottom: -20px; 
     }
    #titulo{
        margin: 135px;
    }
    #ponto{
     max-width: 15px;
     max-height: 15px;
     width: auto;
    height: auto;
    margin-bottom: 13px;
    margin-right: 25x;
     }
     #name{
      color:   #001A49;
      }

  .aheader {
    grid-area: header;
    max-width:100%  ;
    max-height: 70px;
    display:flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }
   
#item1{
     
    padding-right: 48px;    
}

   #cat{
        width: 96px;
        height:25px;
        border-left: #FE0078 1px;
      font-family:-apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;
      padding-left: 11px;
      border-left:solid #FE0078;
      margin: 32px 20px 40px;


   }

   #aaside{
       
        
    grid-area: aside;
    max-width: 380px;
    max-height: 1394px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 5px; 
    margin: 56px;  
    margin-left: 0;
   }

  #pesquisa {

    width: 340px;
    height: 52px;
     border: 1px solid #FE0078;
     margin: 20px 17px 20px;
    border-radius: 10px;
 
  }

   .text2{
    font-family:-apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0px;
    font-size: 14px;
    border-bottom: 3px dotted #eeeeee;
    padding-bottom: 16px;
    margin: 16px 20px 16px;
    display : flex;
    justify-content: space-between;

   }
   .text2:hover{
    border-bottom: 3px dotted #FE0078
  }

.caixa{
        width: 340px;
        height: 240px;
        background-color: #eeeeee;
        margin: 0px 20px 31px;
        font-family:-apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 36px;
        display : flex;
     
}
.textBox{
  display: flex;
  margin: auto;
 }
  .subt{ 
    margin: 24px;
    padding-top: 24px;
    font-weight: bold ;
    font-size: 24px;
    font-family:-apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .date{
    margin-left: 24px;
    font-size: 12px;
    font-family:-apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;
    color:#929292

  }
  .container1 {
    grid-area: main;
    background-color: white;
    max-width: 730px;
    max-height: 696px;
    border-radius: 5px;
    margin:56px ;
    margin-left:140px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    
  }


 .continuarlendo{
      width: 154px;
      height: 43px;
      border-radius: 20px;
      border: 1px solid #FE0078;
      margin-bottom:25px   ;
      margin-left: 530px;

  }
 
 
 .continuarlendo:hover{
   background-color: #FE0078;

}

 .parag{
    display: flex;
      max-width: 682;
      max-height: 136;
      margin: 24px 24px 24px;
      font-family:-apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px ;
      color:#545454;
      text-align: left;
  }

    .foto{
        width: 100%;
        
     }
 
  .afooter {
        grid-area: footer;
        width: 100%;
        height: 70px;
        background-color:#222222;
        color: #e5e5e5;
         
    }
    .textfooter{
display: flex;
justify-content: center;
padding-top: 30px;
    }
     
    

